* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #7b83eb;
  font-family: Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
}

.add {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #9ec862;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 16px;
}

.note {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
  height: 250px;
  width: 250px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.note .tools {
  background-color: #9ec862;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.note .tools button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  margin-left: 0.5rem;
}

.note textarea {
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  border: 0;
  height: 100%;
  width: 100%;
  padding: 20px;
  resize: none;
}